<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-px-lg-5">
                <div class="logoContainer">
                    <img src="../static/img/Logo.png" alt="Logo" class="logo">
                </div>
                <a class="navbar-brand" hr4 ef="#!">PichoTech</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('acerca')}}">Acerca De</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Venta</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('todoslosproductos')}}">Todos Los Productos</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{{url_for('articulospopu')}}">Articulos Populares</a></li>
                                <li><a class="dropdown-item" href="{{url_for('recienllegados')}}">Los Recién Llegados</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="margen">
                    <div class="d-flex formCart">
                        <button class="btn btn-outline-dark navbar-shopping-cart" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Carrito
                            <span class="badge bg-dark text-white ms-1 rounded-pill">3</span>
                        </button>
                    </div>
                    </div>
                    {% if name %}
                    <div class="margen">
                    <p>{{name}}</p>
                    </div>
                    <div class="margen">
                    <form class="d-flex">
                        <a href="{{ url_for('logout') }}" class="btn btn-outline-dark">
                            Cerrar Sesión
                            <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                        </a>
                        </a>
                    </form>
                    </div>
                    {% else %}
                        <form class="d-flex margen">
                            <a href="{{ url_for('login_register') }}" class="btn btn-outline-dark">
                                Iniciar Sesión
                                <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                            </a>
                            </a>
                        </form>
                    {% endif %}
                    <div class="margen">
                    </div>
                    <form class="d-flex formCart">
                        <a class="btn btn-outline-dark" href="{{url_for('contacto')}}" type="submit">
                            Contáctenos
                            <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>

        <aside class="product-detail inactive" id="shoppingCartContainer">
            <div class="container">

                <div class="shopping-cart-title">
                    <img src="../static/Icons/flechita.svg" alt="arrow" class="arrow">
                    <p>Carrito de compras</p>
                </div>
                <div class="all-carts">

                    <div class="shopping-cart">
                        <figure>
                            <img class="card-img-top" src="../static/img/DiademasVsgSingularityVSG.png" alt="..." />
                        </figure>
                        <p>Diademas</p>
                        <p>$30.000</p>
                        <img src="../static/Icons/icon_close.png" alt="clase" class="icon-close-img">
                    </div>

                    <div class="shopping-cart">
                        <figure>
                            <img class="card-img-top" src="../static/img/KitPerifericosLoitech.png" alt="..." />
                        </figure>
                        <p>KitPerifericosLogitech</p>
                        <p>$5.000.000</p>
                        <img src="../static/Icons/icon_close.png" alt="clase" class="icon-close-img">
                    </div>

                    <div class="shopping-cart">
                        <figure>
                            <img class="card-img-top" src="../static/img/Board.png" alt="..." />
                        </figure>
                        <p>Board</p>
                        <p>$1000</p>
                        <img src="../static/Icons/icon_close.png" alt="clase" class="icon-close-img">
                    </div>


                </div>

            </div>

            <div class="container2">
                <div class="order">
                    <span>Total</span>
                    <p>$560.00</p>
                </div>
    
                <button onClick="location.href='compra.html'" class="primary-button add-button">
                    <p>Checkout</p>
                </button>
            </div>
        </aside> 

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">¡Lo más nuevo!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">La mejor tecnología al alcance de tus manos</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/DiademasVsgSingularityVSG.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Diadema Alámbrica Singularity Gamer Vsg 7.1 Edición Negra</h5>
                                    <!-- Product price-->
                                    $280.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir Al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/KitPerifericosLoitech.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Kit de teclado y mouse inalámbrico Logitech MK235 de color negro</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$130.000</span>
                                    $95.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir Al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/RTX3060.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Tarjeta De Vídeo Gigabyte Geforce Rtx 3060 8gb</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$2.500.000</span>
                                    $2.300.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir Al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/RTX3050.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Sale badge-->
                                    <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Tarjeta de video Nvidia Zotac Gaming GeForce RTX 30 Series RTX 3050 ZT-A30500E-10M 8GB</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $1.700.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir Al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/Inteli5.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Procesador Intel Core i5-13600K BX8071513600K de 14 núcleos y 5.1GHz De Frecuencia Con Gráfica Integrada</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$2.050.000</span>
                                    $1.800.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir Al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/MemoriaRam.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Memoria RAM Premier color verde 16GB 1 Adata AD4S320016G22-SGN</h5>
                                    <!-- Product price-->
                                    $220.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Opciones</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/Board.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Board Gigabyte B660m Ds3h Ddr4 Socket 1700 12gen</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$1.000.000</span>
                                    $700.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir Al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../static/img/Chasis.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Sale badge-->
                                    <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nuevo</div>
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Chasis Caja Atx Gamer Iceberg Gear V6 Plus + 3 Ventiladores</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $300.000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir Al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link " href="#">Next</a>
                          </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Picho PichoTech 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
